body {
    background-color: #14213d;
    color: white;
    font-family: 'Inter', sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.container img {
    opacity: 0; /* Initially hide the image */
    animation: fadeInImage 2s forwards; /* Apply the fade-in animation */
}

.container p {
    opacity: 0; /* Initially hide the text */
    animation: fadeInText 2s forwards 0.5s; /* Apply the fade-in animation with a 0.5s delay */
}

@keyframes fadeInImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}